.checkout {
    &-block {
        &-goods {
            background: #FFF;

            &-top {
                padding: rem(30) rem(20);

                &-header {
                    h1 {
                        font-size: rem(20);
                        font-weight: 600;
                        line-height: rem(28);
                        color: #1E2546;
                    }
                }

                &-line {
                    height: rem(1);
                    background: rgba(0, 0, 0, 0.10);
                    width: 100%;
                    margin: rem(20) rem(0);
                }

                &-cauldrons {
                    display: flex;
                    align-items: center;
                    padding: rem(10) rem(30);

                    &-img {
                        height: rem(91);
                        display: flex;

                        img {
                            object-fit: contain;

                        }
                    }

                    &-inner {
                        display: flex;
                        flex-direction: column;
                        padding-left: rem(30);

                        p {
                            font-size: rem(14);
                            line-height: rem(24);
                            color: #000000;
                        }

                        h5 {
                            font-size: rem(14);
                            font-weight: 500;
                        }

                        span {
                            line-height: rem(26);
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        &-delivery {
            background: #FFF;
            margin-top: rem(15);
            padding: rem(30) rem(20);

            &-info {
                display: flex;
                flex-direction: column;
                padding-bottom: rem(20);

                &-tell {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    gap: rem(20);
                    flex-wrap: wrap;

                    &-input {
                        max-width: rem(242.5);
                        width: 100%;

                        label {
                            font-size: rem(12);
                            color: #1E2546;
                            line-height: rem(22);
                        }

                        &-style {
                            .form-block {
                                input {
                                    border-radius: 0;
                                    padding: rem(12) rem(10);
                                    border: 1px solid rgba(0, 0, 0, 0.20);

                                }

                                input:focus {
                                    box-shadow: none;
                                }

                                .form-control {
                                    color: #1E2546;
                                    line-height: rem(26);
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }

                &-field {
                    width: 48.5%;
                }
            }

            &-select {
                &-dropdown {
                    display: flex;
                    flex-direction: column;
                    gap: rem(5);
                    padding-bottom: rem(20);

                    p {
                        font-size: rem(12);
                        line-height: rem(22);
                        color: #1E2546;
                    }

                    &-bottom {
                        display: flex;
                        position: relative;
                        padding-left: rem(50);
                        border: 0.0625rem solid rgba(30, 37, 70, 20%);
                        background: #FFFFFF;

                        svg {
                            position: absolute;
                            z-index: 1;
                            top: 13px;
                            left: 20px;
                        }

                        &-toggle {
                            width: 100%;
                            height: rem(50);
                            border: none;
                        }

                        &-toggle:focus-visible {
                            outline: none;
                        }
                    }
                }

                &-content {
                    &-bottom {
                        padding: rem(15);
                        border: rem(2) solid #008033;
                        margin-bottom: rem(35);

                        &-checkbox {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            &-input {
                                label {
                                    display: flex;
                                    align-items: center;
                                    gap: rem(10);
                                    font-size: rem(14);
                                    line-height: rem(24);
                                    font-weight: 600;
                                }
                            }

                            p {
                                color: #008033;
                                line-height: rem(24);
                                font-size: rem(12);
                                font-weight: 600;
                            }

                            .checkbox {
                                padding-bottom: rem(8);

                                label {
                                    display: flex;
                                    align-items: center;
                                    gap: rem(10);
                                    font-size: rem(14);
                                    line-height: rem(24);
                                    color: #1E2546;
                                    font-weight: 600;

                                    input {
                                        position: relative;
                                        appearance: none;
                                        border-radius: 50%;
                                        border: 1px solid #008033;
                                        width: rem(24);
                                        height: rem(24);

                                        &:checked {
                                            border-color: #008033;

                                            &:before {
                                                content: '';
                                                position: absolute;
                                                top: 11px;
                                                left: 11px;
                                                height: 2px;
                                                background-color: #008033;
                                                transform: rotate(40deg);
                                                margin-left: -6px;
                                                margin-top: 1px;
                                                width: 7px;
                                            }

                                            &:after {
                                                content: '';
                                                position: absolute;
                                                top: 11px;
                                                left: 12px;
                                                height: 2px;
                                                background-color: #008033;
                                                transform: rotate(130deg);
                                                margin-left: -4px;
                                                margin-top: -1px;
                                                width: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &-point {
                            &-option {
                                padding: rem(13) rem(15);
                                border: 1px solid rgba(0, 0, 0, 0.20);

                                select {
                                    font-size: rem(14);
                                    font-weight: 600;
                                    line-height: rem(24);
                                    color: #1E2546;
                                    width: 100%;
                                    border: none;
                                    background: transparent;

                                    option {
                                        font-size: rem(14);
                                        font-weight: 600;
                                        line-height: rem(24);
                                        color: #1E2546;
                                    }
                                }
                            }

                            select:focus-within {
                                outline: none;
                            }

                            label {
                                padding-bottom: rem(8);
                                font-size: rem(14);
                            }

                            &-paragraph {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding-top: rem(15);

                                p {
                                    font-size: rem(14);
                                    color: #1E2546;
                                    font-weight: 600;
                                    line-height: rem(22);
                                }
                            }
                        }
                    }
                }

                &-meta {
                    padding: rem(15);
                    border: 2px solid #008033;

                    &-comment {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        label {
                            font-size: rem(12);
                            line-height: rem(22);
                            color: #1E2546;
                        }

                        &-inner {
                            max-width: rem(270.5);
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: rem(5);
                            padding-bottom: rem(15);

                            .form-group {
                                .form-block {
                                    input:focus {
                                        box-shadow: none;
                                        border: 1px solid rgba(0, 0, 0, 0.20);
                                    }

                                    input {
                                        border-radius: 0;
                                        padding: rem(12) rem(10);
                                    }
                                }
                            }
                        }

                        .form-group {
                            .form-block {
                                width: 100%;
                            }
                        }

                        &-area {
                            width: 100%;
                        }

                    }

                    &-checkbox {
                        display: flex;
                        align-items: center;
                        gap: rem(10);



                        label {
                            font-size: rem(14);
                            line-height: rem(24);
                            font-weight: 600;
                            color: #1E2546;
                        }
                    }
                }
            }
        }
    }
}

.css-1jqq78o-placeholder {
    padding-left: rem(50);
}

.css-19eo3mx-control {
    height: rem(50);
}

