.checkout {
    &-block {
        &-goods {
            background: #FFF;

            &-top {
                padding: rem(30) rem(20);

                &-header {
                    h1 {
                        font-size: rem(20);
                        font-weight: 600;
                        line-height: rem(28);
                        color: #1E2546;
                    }
                }

                &-line {
                    height: rem(1);
                    background: rgba(0, 0, 0, 0.10);
                    width: 100%;
                    margin: rem(20) rem(0);
                }

                &-cauldrons {
                    display: flex;
                    align-items: center;
                    padding: rem(10) rem(30);

                    &-img {
                        height: rem(91);
                        display: flex;

                        img {
                            object-fit: contain;

                        }
                    }

                    &-inner {
                        display: flex;
                        flex-direction: column;
                        padding-left: rem(30);

                        p {
                            font-size: rem(14);
                            line-height: rem(24);
                            color: #000000;
                        }

                        h5 {
                            font-size: rem(14);
                            font-weight: 500;
                        }

                        span {
                            line-height: rem(26);
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        &-delivery {
            &-info {
                display: flex;
                flex-direction: column;

                &-tell {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    gap: rem(20);
                }

                &-input {
                    width: 100%;
                    &-name {
                        width: 100%;
                        &-style {
                            display: flex;
                            width: 100%;

                            .form-block {
                                width: 100%;
                            }
                        }
                    }
                }

                &-field {
                    width: 48.5%;
                }
            }

            &-select {
                p {
                    font-size: rem(12);
                    line-height: rem(22);
                    color: #1E2546;
                }

                &-dropdown {
                    &-bottom {
                        display: flex;
                        position: relative;
                        padding-left: rem(50);
                        border: 0.0625rem solid rgba(30, 37, 70, 20%);
                        background: #FFFFFF;

                        svg {
                            position: absolute;
                            z-index: 1;
                            top: 13px;
                            left: 20px;
                        }

                        &-toggle {
                            width: 100%;
                            height: rem(50);
                            border: none;
                        }

                        &-toggle:focus-visible {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}
.css-1jqq78o-placeholder {
    padding-left: rem(50);
}

.css-19eo3mx-control {
    height: rem(50);
}
