.collection-top {
    &-content {
        background: #AC1931;

        &-item {
            &-crossing {
                display: flex;
                align-items: center;
                gap: rem(5);
                padding: rem(10) rem(0);

                .btn {
                    color: rgba(255, 255, 255, 0.50);
                    font-size: rem(12);
                    font-weight: 600;
                    line-height: rem(20);
                    padding: 0;
                    border: none;
                }

                .btn:hover,
                .btn:focus,
                .btn:active {
                    background: none;
                    color: rgba(255, 255, 255, 0.50);
                    box-shadow: none;
                }

                h2 {
                    color: $white;
                    font-size: rem(12);
                    font-weight: 600;
                    line-height: rem(20);
                }
            }
        }
    }

    &-position {
        background: #FFF;

        &-meta {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(10) rem(0);
            
            .btn {
                display: flex;
                align-items: center;
                border: rem(2) solid #1E2546;
                border-radius: 0;
                color: #1E2546;
                font-size: rem(14);
                font-weight: 600;
                line-height: rem(24);
                padding: rem(8) rem(20) rem(8) rem(15);
            }

            .btn-inner:hover,
            .btn-inner:focus,
            .btn-inner:active {
                background: transparent;
            }

            .btn-meta:hover,
            .btn-meta:focus,
            .btn-meta:active {
                background: #1E2546;
                color: $white;
            }

            h3 {
                color: #000;
                font-size: rem(20);
                font-weight: 600;
                line-height: rem(26);
            }
        }
    }

    &-inner {
        margin-top: rem(30);

        &-info {
            &-wrap {
                display: flex;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: rem(361);
                position: relative;
                z-index: -1;

                &-text {
                    padding: rem(30);
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    flex-direction: column;

                    h2 {
                        color: $white;
                        font-size: rem(48);
                        font-weight: 700;
                        line-height: rem(58);
                    }

                    p {
                        color: $white;
                        font-size: rem(14);
                        font-style: normal;
                        line-height: rem(22);
                    }
                }

                img {

                }
            }
        }
    }
}