.collection {
    &-block {
        background-color: rgb(30, 37, 70);
        min-height: rem(380);
        background-repeat: no-repeat;
        display: flex;
        overflow: hidden;
        background-size: cover;
        background-position: 70% 80%;
        transition: all 0.3s ease;
        cursor: pointer;
        margin-bottom: rem(30);

        &-inner {
            display: flex;
            align-items: center;
            width: 100%;

            &-text {
                padding: rem(25);
                width: 100%;
                transition: all 0.3s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: rem(30);

                .btn {
                    font-size: rem(14);
                    color: $white;
                    border-radius: 0;
                    padding: rem(14) rem(63);
                    border: rem(2) solid #ffffff;
                }

                .btn:hover,
                .btn:focus,
                .btn:active {
                    background: none;
                    color: $white;
                }

                h3 {
                    font-size: rem(40);
                    color: $white;
                    line-height: rem(56);
                    font-weight: 700;
                }
            }
        }
    }

    &-block:hover .collection-block-inner-text {
        h3 {
            color: rgb(255, 221, 148);
        }
    }

    &-header {
        padding-bottom: rem(30);
        text-align: center;

        h1 {
            font-size: rem(32);
            line-height: rem(42);
            color: #000000;
            font-weight: 600;
        }
    }
}