.filter-item {
    position: absolute;
    background: #1E2546;
    width: rem(300);
    right: 277.4px;
    top: -6px;
    padding: rem(30) rem(31) rem(34) rem(30);
    z-index: 5;

    &-inner {
        &-cost {
            display: flex;
            flex-direction: column;

            h3 {
                color: $white;
                font-size: rem(14);
                font-weight: 600;
                line-height: rem(22);
                padding-bottom: rem(35);
            }

            &-range {
                &-number {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: rem(35);

                    p {
                        color: $white;
                        font-size: rem(14);
                        line-height: rem(22);
                        padding: rem(10) rem(17);
                        background: rgba(255, 255, 255, 0.10);
                    }
                }

                .btn {
                    width: 100%;
                    background: #AC1931;
                    justify-content: center;
                    color: $white;
                    margin-top: rem(30);
                    border: none;
                    border-radius: 0;
                }

                .btn:focus,
                .btn:hover,
                .btn:active {
                    background: #AC1931;
                    color: $white;
                }
            }
        }

        &-meta {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &-content {
                width: 100%;

                h4 {
                    color: $white;
                    font-size: rem(14);
                    font-weight: 600;
                    line-height: rem(22);
                }
            }
        }
    }

    .rc-slider-handle {
        width: rem(40);
        height: rem(40);
        top: -8px;
        background-color: #008033;
        opacity: 1;
        border: none;
    }

    .rc-slider-track {
        background-color: #008033;
    }
}
