.product {
    &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-left {
        display: flex;
        align-items: center;
        gap: rem(15);
        background: #1E2546;
        padding: rem(10) rem(15);
        max-width: rem(200);
        width: 100%;

        p {
            font-size: rem(14);
            color: $white;
            line-height: rem(24);
            font-weight: 600;
        }
    }

    &-right {
        .btn {
            padding: rem(0);
        }

        .btn + .btn {
            margin-left: rem(20);
        }

        .btn:hover,
        .btn:focus,
        .btn:active {
            background: none;
            border: none;
            box-shadow: none;
        }
    }

    &-content-li {
        position: absolute;
        top: 135px;
        left: 0;
        width: 100%;
        background-color: rgba(30, 37, 70, 1);
        padding-top: rem(50);
        padding-bottom: rem(50);
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        margin-top: -4px;

        &-title {
            font-weight: 600;
            line-height: rem(24) !important;
            font-size: rem(16) !important;
            margin-bottom: rem(15) !important;

        }

        ul {
            li {
                font-size: rem(14);
                line-height: rem(22);
                list-style-type: none;
                margin-bottom: rem(10);
                color: $white;

                a {
                    transition: all .3s ease;
                    color: $white;
                }

                &:hover {
                    ul {
                        li {
                            a {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}
