.shop {
    &-top {
        background: #AC1931;

        &-item {
            &-crossing {
                display: flex;
                align-items: center;
                gap: rem(5);
                padding: rem(10) rem(0);

                .btn {
                    color: rgba(255, 255, 255, 0.50);
                    font-size: rem(12);
                    font-weight: 600;
                    line-height: rem(20);
                    padding: 0;
                    border: none;
                }

                .btn:hover,
                .btn:focus,
                .btn:active {
                    background: none;
                    color: rgba(255, 255, 255, 0.50);
                    box-shadow: none;
                }

                h2 {
                    color: $white;
                    font-size: rem(12);
                    font-weight: 600;
                    line-height: rem(20);
                }
            }
        }
    }

    &-product {
        margin-top: rem(30);

        &-info {
            &-wrap {
                display: flex;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                z-index: -1;

                &-text {
                    padding: rem(30);
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: rem(5);

                    h2 {
                        color: $white;
                        font-size: rem(48);
                        font-weight: 700;
                        line-height: rem(58);
                    }

                    p {
                        color: $white;
                        font-size: rem(14);
                        font-style: normal;
                        line-height: rem(22);
                    }
                }

                &-svg {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }
        }
    }
}