@font-face {
    font-family: "Open Sans";
    src: local(''), url('../../public/fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../public/fonts/OpenSans-SemiBold.ttf") format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../public/fonts/OpenSans-Bold.ttf") format('ttf');
    font-weight: 700;
}
