@import "./vars/variables";
@import "./vars/functions";

@for $i from 1 through 60 {
    @media (min-width: 1600px + ($i * 100)) {
        html {
            font-size: #{$browser-context}px+$i;
        }
    }
}

@media (max-width: 1030px) {
    .carousel-page {
        .carousel-caption {
            left: 0;

            h2 {
                font-size: rem(40);
            }
        }
    }
}

@media (max-width: 991px) {
    .navbar {
        display: block !important;

        &-menu {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    .footer {
        margin-bottom: rem(50);
    }

    .header {
        &-field {
            display: none;
        }

        &-number {
            display: none;
        }

        &-person {
            display: none !important;
        }

        &-amount {
            display: none;
        }

        &-top {
            justify-content: center;
        }

        .burger-menu {
            //display: none;
        }

        &-border {
            display: none;
        }

        &-logo {
            display: flex;
            justify-content: center;
        }
    }

    .product {
        display: none;
    }

    .carousel-page {
        .carousel-caption {
            left: 0;

            h2 {
                font-size: rem(36);
                line-height: normal;
            }

            p {
                font-size: rem(20);
                margin-top: rem(11);
                margin-bottom: rem(17);
            }
        }
    }

    .collection {
        margin-bottom: rem(50);

        .col-type {
            margin-bottom: rem(10);
        }

        .col-type:last-child {
            margin-bottom: rem(0);
        }

        .collection-block {
            background-position: 80% 70%;
            margin-bottom: rem(10);
            padding: rem(10);
            background-size: rem(472);
            min-height: rem(464);

            &-inner {
                &-text {
                    padding: rem(50);

                    h3 {
                        font-size: rem(80);
                        line-height: rem(70);
                    }

                    p {
                        font-size: rem(32);
                        padding-bottom: rem(20);
                    }
                }
            }
        }
    }
    .banner-item {
        .banner-item-block {
            justify-content: space-between;
            height: rem(256);

            h2 {
                font-size: rem(36);
                line-height: initial;
            }

            p {
                margin-top: rem(11);
                margin-bottom: rem(17);
                font-size: rem(20);
            }

            .banner-item-block-image {
                img {
                    object-fit: contain;
                }
            }
        }
    }

    .carousel-page {
        .carousel-item {
            img {
                height: rem(400);
            }
        }
    }
}

@media (max-width: 768px) {
    .admin-header {
        .modern {
            &-item {
                &-style {
                    flex-direction: column;

                    &-left {
                        width: 100%;
                        flex-direction: column;

                        &-image {
                            width: 100%;
                            justify-content: center;
                        }
                    }

                    &-block {
                        width: 100%;

                        &-btn {
                            padding-top: rem(20);
                        }
                    }
                }

                &-bottom {
                    flex-direction: column;

                    &-left {
                        width: 100%;
                        flex-direction: row;
                    }

                    &-info {
                        width: 100%;
                    }
                }
            }
        }
    }

    .collection {
        .collection-block {
            background-position: 90% 40%;
            margin-bottom: rem(0);
            min-height: rem(400);
        }

        &-block:hover .collection-block-inner-text {
            background: none !important;
            padding: rem(0) rem(15);
        }
    }

    .banner-item {
        .banner-item-block {
            .banner-item-block-image {
                img {
                    min-height: auto;
                }
            }
        }
    }

    .advantage {
        &-item {
            margin-top: rem(18);
        }
    }

    .carousel-page {
        .carousel-item {
            img {
                height: rem(375);
            }
        }
    }

    @media (max-width: 769px) {
        .banner-item {
            .banner-item-block {
                background-image: url('https://rileytailor.uz/wp-content/themes/rt-theme/assets/img/group-17.svg');
                flex-direction: column-reverse;
                padding: rem(20);
                background-repeat: no-repeat;
                background-position: inherit;
                height: auto;

                h2 {
                    font-size: rem(48);
                    line-height: 1.2;
                }

                p {
                    font-size: rem(32);
                }

                .banner-item-block-image {
                    img {
                        max-width: 100%;
                    }
                }

                .btn {
                    font-size: rem(21.3);
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .admin-header {
        .modern {
            &-item {
                &-style {
                    &-block {
                        &-name {
                            &-cost {
                                p {
                                    font-size: rem(19.2);
                                }

                                h4 {
                                    text-align: end;
                                    font-size: rem(32);
                                }
                            }
                        }

                        &-name {
                            h3 {
                                font-size: rem(24);
                                line-height: 1.4;
                            }
                        }
                    }
                }
                &-bottom {
                    &-info {
                        &-header {
                            h3 {
                                font-size: rem(24);
                            }
                        }
                    }

                    &-left {
                        &-cauldrons {
                            img {
                                padding: rem(10);
                            }
                        }
                    }
                }
            }
        }

        .banner-item {
            .banner-item-block {
                padding: rem(20) rem(15);

                .col-type {
                    padding: rem(0);
                }

                h2 {
                    font-size: rem(31.1);
                }

                p {
                    font-size: rem(21.3);
                    margin-top: rem(5);
                    margin-bottom: rem(15);
                }
            }
        }

        .banner-item {
            .col-style {
                padding: 0;
            }

            .banner-item-block {
                .btn {
                    padding: rem(25) rem(52);
                }

                &-image {
                    display: flex;
                    justify-content: center;

                    img {
                        max-width: rem(349);
                        width: 100%;
                        min-height: rem(249);
                    }
                }
            }
        }

        .collection {
            margin-top: rem(40);
            margin-bottom: rem(30);

            .collection-block-inner-text {
                padding: rem(10);

                h3 {
                    font-size: rem(32);
                    line-height: 1.2;
                }

                p {
                    font-size: rem(14);
                    padding: rem(0);
                }
            }

            .col-type {
                margin-bottom: rem(10);
            }

            .col-type:last-child {
                margin-bottom: rem(0);
            }

            &-block {
                min-height: rem(435);
                background-position: 60% 70%;
            }
        }

        .collection-header {
            padding-bottom: rem(20);

            h1 {
                font-size: rem(20) !important;
                line-height: 1.2;
            }
        }

        .carousel-page {
            .carousel-caption {
                h2 {
                    font-size: rem(18);
                    width: rem(213);
                }

                p {
                    margin-top: rem(5);
                    margin-bottom: rem(15);
                    font-size: rem(12.8);
                }

                .btn {
                    max-width: rem(250);
                    width: 100%;
                    font-size: rem(12.8);
                    padding: rem(8) rem(15);
                }
            }

            .carousel-item {
                img {
                    height: rem(281);
                }
            }
        }

        .header {
            &-logo {
                max-width: rem(36);
                width: 100%;
            }
        }

        .footer {
            padding: rem(32) rem(0);

            &-block {
                flex-direction: column;
            }

            &-inner {
                flex-direction: column-reverse;
                gap: rem(30);
                padding-top: rem(35);
            }

            &-social {
                width: rem(95);
            }
        }

        .client {
            &-cauldrons {
                min-height: rem(400) !important;
            }

            &-img {
                margin: rem(43) rem(0) !important;
                display: flex;
                justify-content: center;

                img {
                    width: rem(214);
                    height: rem(119);
                }
            }
        }

        .advantage {
            padding: rem(15);
        }
    }
}

@media (max-width: 320px) {
    .modern {
        &-item {
            &-style {
                &-block {
                    &-btn {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

